<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-6 col-xs-12">
                <ul class="footer-links">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">In press</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="footer-socials">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>

        </div>

        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyrights &copy; 2015 All Rights Reserved by <a href="#">ShaMSofT</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <p class="back-to-top"><a id="scroll-up" href="#">back to top</a></p>
            </div>
        </div>

    </div>
</footer>