    
    <!--home page has custom footer--> 
<footer  class="site-footer">
                 
                <ul class="footer-links">
                    <li><p class="copyright-text"><i class="fa fa-copyright" aria-hidden="true"></i> 2019  <a href="https://www.eurodyn.com/">EUROPEAN DYNAMICS SA</a>
                    </p></li>
                    <li><a href="https://www.eurodyn.com/"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.eurodyn.com/contact/"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com/EURODYN_Careers"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/company/european-dynamics/"><i class="fa fa-linkedin"></i></a></li>
                </ul>
        
</footer>