    
    <!--home page has custom footer--> 
<footer  class="site-footer" style= "opacity: {{ include.opacity }};">
                 
                <ul class="footer-links">
                    <li><p><i class="fa fa-copyright" aria-hidden="true"></i> <a href="https://www.eurodyn.com/" target="_noblank">EUROPEAN DYNAMICS</a>
                    </p></li>
                    <li><a href="https://www.eurodyn.com/" target="_noblank"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.eurodyn.com/contact/" target="_noblank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com/EURODYN_Careers" target="_noblank"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/company/european-dynamics/" target="_noblank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
        
</footer>