<nav class="site-navigation">
  <div class="container">
    <div class="logo">

      <a class="logo-transparent" href="index.html"><img src="assets/img/logo-alt.png" alt="logo"></a>
    </div>

    <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="fa fa-bars"></i></a>

    <ul class="nav-menu">
      <li><a href="index.html">HOME</a></li>
      <li><a href="fuse">FUSE</a></li>
      <li><a href="util">UTIL & TOOLS</a></li>
      <li><a href="angular">ANGULAR</a></li>
      <li><a href="webdesktop">WEBDESKTOP</a></li>
      <li><a href="getting-started">GETTING STARTED</a></li>
      <li><a href="versions">VERSIONS</a></li>
    </ul>
  </div>
</nav>