.code-preview .btn {
    margin-bottom: 6px;
    margin-right: 2px;
  }
  
  .bg-img-index-header {
    
    // image with opacity 0.7
    background-image: linear-gradient(rgba(1,30,47,0.7), rgba(255,255,255,0.7)), url(../img/index.jpg);
  }
  
  .bg-img-page-fuse-header {
    
    background-image: linear-gradient(rgba(1,30,47,0.3), rgba(255,255,255,0.3)), url(../img/fuse.jpg);
  }
  .bg-img-page-util-header {
    background-image:  url(../img/util.jpg);
  }

  .bg-img-page-tools-header {
    background-image:  url(../img/tools.jpg);
  }
  .bg-img-page-versions-header {
    background-image:  url(../img/versions.jpg);
  }
  // end custom images
   .version-body {
    white-space: pre-line;
  }

  .pointer {cursor: pointer;}

  .main-container{
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 200px; /* height of your footer */

  }


 
