.code-preview .btn {
    margin-bottom: 6px;
    margin-right: 2px;
  }
  
  .bg-img-index-header {
    
   
    background-image: linear-gradient(rgba(0, 0, 0,1) -10%, rgba(0,0,0,0.1)), url(../img/index.jpg);
  }
  
  .bg-img-page-fuse-header {
    
    background-image: linear-gradient(rgba(1,30,47,0.3), rgba(255,255,255,0.3)), url(../img/fuse.jpg);
  }
  .bg-img-page-util-header {
    background-image: linear-gradient(rgba(1,30,47,0.5), rgba(255,255,255,0.5)),  url(../img/util.jpg);
  }

  .bg-img-page-tools-header {
    background-image:  url(../img/tools.jpg);
  }
  .bg-img-page-versions-header {
    background-image:  url(../img/versions.jpg);
  }
  // end custom images
   .version-body {
    white-space: pre-line;
  }

  .pointer {cursor: pointer;}

  .main-container{
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 200px; /* height of your footer */

  }
  
  .btn-custom {
    line-height: 40px;
    padding: 10px 0;
    padding-bottom: 4px;
    padding-top: 3px;
    padding-left: 10px ;
    padding-right: 6px ;

    text-transform: none;
  }

.custom-window-code{
  border: 1px solid #eceeef;
  border-radius: 3px;
  margin: 15px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  display: block;

}

.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
  }


 
