---
layout: wrapper
---
<!-- Site header -->
<header class="site-header">

  <!-- Logo & Navigation -->
  {% include top-navigation.html activeAngular="active" %}
  <!-- END Logo & Navigation -->
  <!-- Header image -->
  <div class="header-image bg-img-page-angular-header overlay-black overlay-intense">
    <div class="container">
      <h1>
        <strong>QLACK Angular</strong>
      </h1>
      <h4>QLACK Angular provides a set of TypeScript libraries for your Angular based application to facilitate everyday
        tasks in your SPA development. Tasks such as automatic mapping of backend data
        validation error messages to your reactive forms, or inter-application communication
        via a PubSub framework are provided via QLACK Angular.
      </h4>
    </div>
  </div>
  <!-- END Header image -->
</header>
<!-- END Site header -->

<main>
  <!--  Section - QLACK Angular -->
  <section>
    {% assign count = 0 %}
    <div class="container">

      <ul class="faq-items">
        {%for module in site.data.modules.Angular %}
        {% assign count = count | plus: 1 %}
        <li>
          <h4 id="menu{{count}}">
            {{module.title}} </h4>
          <p>
            {{ module.description }}
            <br>
            <br>
            <a class="btn btn-dark" target="_noblank"
               href="https://github.com/qlack/QLACK-TypeScript">
              <span class="button-text">View on GitHub</span>
            </a>
            <a class="btn btn-dark" target="_noblank"
               href="https://www.npmjs.com/package/@qlack/{{module.npm}}">
              <span class="button-text">View on NPM</span>
            </a>
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <!-- END Section - QLACK Angular -->
</main>