---
layout: wrapper
---
  <!--  Navigation -->
  <nav class="page-navigation full-topbar">
    <ul class="nav">
      {% assign count = 0 %}
      {%for module in site.data.modules.Fuse %}
      {% assign count = count | plus: 1 %}
      <li>
        <a href="#menu{{count}}">{{module.subtitle}}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <!-- END Navigation -->

  <!-- Site header -->
  <header class="site-header">

    <!-- Logo & Navigation -->
    {% include top-navigation.html activeFuse="active" %}
    <!-- END Logo & Navigation -->

    <!-- Header image -->
    <div class="header-image bg-img-page-fuse-header  overlay-black overlay-pale">
      <div class="container" >
        <h1>
          <strong>QLACK Fuse</strong>
        </h1>
        <h4>QLACK Fuse is a set of 15+ server-side, Spring Boot libraries assisting
          you in everyday development tasks such as user management, audit log management,
          cryptography,
          image manipulation, multilingualism handling, preferences mangemenet, etc.
        </h4>
        <br>
          <div class="row">
            <div class="col-md-1 col-sm-0"></div>
            <div class="col-md-2 col-sm-12 component-center" >
                <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=duplicated_lines_density" class="badges">
                <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=ncloc" class="badges">    
            </div>
            <div class="col-md-2 col-sm-12 component-center">
                <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=code_smells" class="badges">
                <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=vulnerabilities" class="badges">     
            </div>  
            <div class="col-md-2 col-sm-12 component-center">
                <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=sqale_index" class="badges">
                <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=sqale_rating" class="badges">     
            </div>  
            <div class="col-md-2 col-sm-12 component-center">
              <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=coverage" class="badges">
              <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=reliability_rating" class="badges">
            </div>  
            <div class="col-md-2 col-sm-12 component-center">
                <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=security_rating" class="badges">
                <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=bugs" class="badges">
            </div>  
            <div class="col-md-1 col-sm-0"></div>
          </div>
      </div>
    </div>
    <!-- END Header image -->

  </header>
  <!-- END Site header -->

  <!-- Main container -->
  <main>

    <!--  Section - Qlack Fuse -->
    <section>
      {% assign count = 0 %}
      <div class="container">
      
        <ul class="faq-items">
          {%for module in site.data.modules.Fuse %}
          {% assign count = count | plus: 1 %}
          <li>
            <h4 id="menu{{count}}">
              {{module.title}} </h4>
            <p>
              {{ module.description }}
              <br>
              <br>
              <a class="btn btn-dark" target="_noblank"
                 href="https://github.com/qlack/QLACK-Java/tree/master/QLACK-Fuse/qlack-fuse-{{module.github}}">
                <span class="button-text">View on GitHub</span>
              </a>
              <a class="btn btn-dark" target="_noblank"
                 href="https://search.maven.org/artifact/com.eurodyn.qlack.fuse/qlack-fuse-{{module.maven}}">
                <span class="button-text">View on Maven</span>
              </a>
              <a class="btn btn-dark" target="_noblank"
                 href="https://www.javadoc.io/doc/com.eurodyn.qlack.fuse/qlack-fuse-{{module.javadoc}}">
                <span class="button-text">View Javadoc</span>
              </a>
            </p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>
    <!-- END Section - Qlack Fuse -->

  </main>
  <!-- END Main container -->


