<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="sticky-nav ">
  
  <div class="main-container ">
    <!--  Navigation -->
    <nav class="page-navigation full-topbar">
      <ul class="nav">
        {% assign count = 0 %}
        {%for module in site.data.modules.Fuse %}
        {% assign count = count | plus: 1 %}
        <li><a href="#menu{{count}}">{{module.title}}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <!-- END Navigation -->

    <!-- Site header -->
    <header class="site-header">

      <!-- Logo & Navigation -->
      <nav class="site-navigation">
        <div class="container">
          <div class="logo">
            <a class="logo-default" href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
            <a class="logo-transparent" href="index.html"><img src="assets/img/logo-alt.png" alt="logo"></a>
          </div>

          <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="fa fa-bars"></i></a>

          <ul class="nav-menu">
            <li><a href="index.html">HOME</a></li>
            <li><a class="active" href="fuse">FUSE</a></li>
            <li><a href="util">UTIL</a></li>
            <li><a href="tools">TOOLS</a></li>
            <li><a href="webdesktop">WEBDESKTOP</a></li>
            <li><a href="versions">VERSIONS</a></li>
          </ul>
        </div>
      </nav>
      <!-- END Logo & Navigation -->

      <!-- Header image -->
      <div class="header-image bg-img-page-fuse-header  no-overlay no-padding">

        <div class="container">

          <br><br><br>
          <h1><strong>FUSE</strong></h1>
          <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus
            PageMaker including versions of Lorem Ipsum.</h4>
          <br><br><br>
        </div>
      </div>
      <!-- END Header image -->

    </header>
    <!-- END Site header -->

    <!-- Main container -->
    <main>

      {% assign count = 0 %}

      <!--  Section - Qlack Fuse -->
      <section>
        <div class="container">
          <header class="section-header ">
            <span>
              <!--little description --></span>

            <h2>Qlack Fuse </h2>
            <p>Qlack Fuse has the following modules:</p>
          </header>
          <ul class="step-text step-cols-2">
            {%for module in site.data.modules.Fuse %}
            {% assign count = count | plus: 1 %}
            <li>
              <h4 id="menu{{count}}">
                {{module.title}} </h4>
              <div id="module{{count}}">
                <p> {{ module.description }}<br><br>
                  For more information:<a
                    href="https://github.com/qlack/QLACK-Java/tree/master/QLACK-Fuse/qlack-fuse-{{module.title}}">
                    here</a>
                </p>
            </li>

            {% endfor %}
          </ul>
        </div>
      </section>
      <!-- END Section - Qlack Fuse -->

    </main>
    <!-- END Main container -->
  </div>
    <!-- Site footer -->
    {% include footer.html %}
    <!-- END Site footer -->

 
  <!-- Scripts -->
  <script src="assets/js/app.min.js"></script>
  <script src="assets/js/custom.js"></script>

</body>

</html>