---
layout: wrapper
---

    <!-- Site header -->
    <header class="site-header">
       
      <!-- Logo & Navigation -->
      {% include top-navigation.html activeIndex="active" %}
      <!-- END Logo & Navigation -->

      <!-- Header description -->
      

        <div class="container">
          <img src="assets/img/qlack_ecosystem.png" class="homeImagePadding">   
          <h5 class="home-description-margin" > QLACK is an ecosystem of software development libraries and utilities, targeting Java and Angular
              developers. Our goal while developing QLACK is not to create a framework but to bundle
              together functionality we often use in projects under a common roof.
              <br><br>
              QLACK has a rich history as in one form or another has been in development for more than
              10 years. It initially started as QLACK 1 based on Enterprise Java Beans technology, it
              continued with QLACK 2 based on OSGi, and currently on version 3 is based on Spring Boot.
              <br><br>
              Using QLACK you can accelerate your Spring Boot-based development as a considerable
              amount of boilerplate code is already provided via QLACK's rich modules ecosystem and APIs.
              <br><br>
              QLACK is an Open Source project under EUPL.</h5>
  
                     
                      <div class="row">
                        <div class="col-md-2 col-sm-12 component-center">
                            <a class="btn btn-danger btn-custom  " target="_noblank" href="https://github.com/qlack/QLACK-Java"
                             ><span class="button-text">View on </span>GitHub <i class="fa fa-github" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-md-2 col-sm-12 badges-margin component-center" >
                            <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=duplicated_lines_density" class="badges">
                            <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=ncloc" class="badges">    
                        </div>
                        <div class="col-md-2 col-sm-12 component-center">
                            <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=code_smells" class="badges">
                            <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=vulnerabilities" class="badges">     
                        </div>  
                        <div class="col-md-2 col-sm-12 component-center">
                            <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=sqale_index" class="badges">
                            <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=sqale_rating" class="badges">     
                        </div>  
                        <div class="col-md-2 col-sm-12 component-center">
                          <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=coverage" class="badges">
                          <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=reliability_rating" class="badges">
                        </div>  
                        <div class="col-md-2 col-sm-12 component-center">
                            <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=security_rating" class="badges">
                            <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=bugs" class="badges">
                        </div>  
                      </div>
                    
      </div>
      <!-- END Header description -->

    </header>
    <!-- END Site header -->

    <!-- Main container -->
    <main>

    </main>
    <!-- END Main container -->

