<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="sticky-nav transparent-nav ">

    <div id="particles-js"></div>
    
  <div class="main-container header-image ">
    <!-- Site header -->
    <header class="site-header">
       
      <!-- Logo & Navigation -->
      <nav class="site-navigation">
        <div class="container">
          <div class="logo">
            <a class="logo-default" href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
            <a class="logo-transparent" href="index.html"><img src="assets/img/logo-alt.png" alt="logo"></a>
          </div>

          <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="fa fa-bars"></i></a>

          <ul class="nav-menu">
            <li><a class="active" href="index.html">HOME</a></li>
            <li><a href="fuse">FUSE</a></li>
            <li><a href="util">UTIL</a></li>
            <li><a href="tools">TOOLS</a></li>
            <li><a href="webdesktop">WEBDESKTOP</a></li>
            <li><a href="versions">VERSIONS</a></li>
          </ul>
        </div>
      </nav>
      <!-- END Logo & Navigation -->

      <!-- Header description -->
      

        <div class="container">
          <h1><strong>{{page.title}}</strong></h1>
          <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus
            PageMaker including versions of Lorem Ipsum.</h5>
          <br><br><br><br>
                     
                      <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <a class="btn btn-danger btn-custom" href="https://github.com/qlack/QLACK-Java"
                             >View on GitHub <i class="fa fa-github" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=duplicated_lines_density" style="margin-bottom: 8px">
                            <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=ncloc">    
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=code_smells" style="margin-bottom: 8px">
                            <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=vulnerabilities">     
                        </div>  
                        <div class="col-md-2 col-sm-12">
                            <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=sqale_index" style="margin-bottom: 8px">
                            <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=sqale_rating">     
                        </div>  
                        <div class="col-md-2 col-sm-12">
                          <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=coverage" style="margin-bottom: 8px">
                          <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=reliability_rating">
                        </div>  
                        <div class="col-md-2 col-sm-12">
                            <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=security_rating" style="margin-bottom: 8px">
                            <img src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack%3Aqlack&metric=bugs">
                        </div>  
                      </div>
                    
      </div>
      <!-- END Header description -->

    </header>
    <!-- END Site header -->

    <!-- Main container -->
    <main>

    </main>
    <!-- END Main container -->
  </div>
    <!-- Site footer with opacity 0.7 -->
       
     
<footer  class="site-footer" style="opacity: 0.7">
  <div class="container">
      <div class="row">

          <div class="col-md-8 col-sm-6 col-xs-12">
              
              <ul class="footer-links" style="margin-bottom:4px">
                  <li><p class="copyright-text">&copy; Copyright  2019  <a href="https://www.eurodyn.com/">EUROPEAN DYNAMICS SA</a>
                  </p></li>
                  <li><a href="https://www.eurodyn.com/">About us</a></li>
                  <li><a href="https://www.eurodyn.com/contact/">Contact us</a></li>
              </ul>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="footer-socials" style="margin-bottom:4px">
                  <li style="color: white">Follow us</li>
                  <li><a class="twitter" href="https://twitter.com/EURODYN_Careers"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="linkedin" href="https://www.linkedin.com/company/european-dynamics/"><i class="fa fa-linkedin"></i></a></li>
              </ul>
          </div>

      </div>

  </div>

</footer>
    <!-- END Site footer -->

  
  <!-- Scripts -->
  <script src="assets/js/particles.js"></script>
  <script src="assets/js/app.min.js"></script>
  <script src="assets/js/custom.js"></script>
  <script src="assets/js/configparticles.js"></script>
  
  

</body>

</html>