<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="sticky-nav  ">

  <div class="main-container bg-dark-light">

    <!--  Navigation -->
    <nav class="page-navigation full-topbar">
      <ul class="nav">
        {% assign count = 0 %}
        {%for module in site.data.modules.Util %}
        {% assign count = count | plus: 1 %}
        <li><a href="#menu{{count}}">{{module.title}}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <!-- END Navigation -->

    <!-- Site header -->
    <header class="site-header">

      <!-- Logo & Navigation -->
      {% include top-navigation.html %}
      <!-- END Logo & Navigation -->

      <!-- Header image -->
      <div class="header-image bg-img-page-util-header overlay-black overlay-pale no-padding">
        <div class="container">
          <br><br><br>
          <h1><strong>UTIL & TOOLS</strong></h1>
          <h4>QLACK Util & Tools is a set of utility library and tools helping you with your everyday
          development tasks. In contrast to QLACK Fuse modules, Util & Tools components do not need
          to store data, so they do not need to integrate with your project's database schema.
          </h4>
          <br><br><br>
        </div>
      </div>
      <!-- END Header image -->

      <!-- END Site header -->


      <!-- Main container -->
      <main>


        <!-- Section - Qlack Util -->
        <section>
          {% assign count = 0 %}
          <div class="container">
            <header class="section-header text-left ">
              <span>
                <!--little description --></span>

              <h2>Qlack Util</h2>
              <p>Qlack Util has the following modules:</p>

            </header>

            <ul class="faq-items">
              {%for module in site.data.modules.Util %}
              {% assign count = count | plus: 1 %}
              <li>
                <h4 id="menu{{count}}">
                  {{module.title}} </h4>
                <p>
                  {{ module.description }}<br><br>
                  <a target="_noblank" href="https://github.com/qlack/QLACK-Java/tree/master/QLACK-Util/qlack-util-{{module.title}}">
                    Visit the <i class="fa fa-github" aria-hidden="true"></i> repo for more information</a>
                </p>

              </li>
              {% endfor %}
            </ul>

          </div>
        </section>

        <!-- END Section - Qlack Util -->

      </main>
      <!-- END Main container -->
  </div>
  <!-- Site footer -->
  {% include footer.html %}
  <!-- END Site footer -->

  <!--ScrollToTop button-->
  <a href="javascript:" id="top"><i class="fa fa-chevron-up"></i></a>
  <!-- Scripts -->
  <script src="assets/js/app.min.js"></script>
  <script src="assets/js/scrolltotop.js"></script>


</body>

</html>