<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="sticky-nav  ">

  <div class="main-container bg-dark-light">
    <!-- Site header -->
    <header class="site-header">

      <!-- Logo & Navigation -->
      {% include top-navigation.html %}
      <!-- END Logo & Navigation -->

      <!-- Header image -->
      <div class="header-image bg-img-page-versions-header  no-padding overlay-black overlay-pale">
        <div class="container">
          <br><br><br>
          <h1><strong>Version history</strong></h1>
          <h4>Here you can find all QLACK versions produced</h4>
          <br><br><br>
        </div>
      </div>
      <!-- END Header image -->

    </header>
    <!-- END Site header -->



    <!-- Main container -->
    <main>
      
      <p id="versions"></p>
    </main>
    <!-- END Main container -->
  </div>
    <!-- Site footer -->
    {% include footer.html %}
    <!-- END Site footer -->

    <!--ScrollToTop button-->
    <a href="javascript:" id="top"><i class="fa fa-chevron-up"></i></a>
  <!-- Scripts -->
  <script src="assets/js/app.min.js"></script>
  <script src="assets/js/scrolltotop.js"></script>
  <script src="assets/js/versions.js"></script>

</body>

</html>