---
layout: wrapper
---
<!-- Site header -->
<header class="site-header">

  <!-- Logo & Navigation -->
  {% include top-navigation.html activeWebdesktop="active" %}
  <!-- END Logo & Navigation -->
  <!-- Header image -->
  <div class="header-image bg-img-page-webdesktop-header overlay-black overlay-pale">
    <div class="container">
      <h1>
        <strong>WEBDESKTOP</strong>
      </h1>
      <h4>QLACK WebDesktop is an application which simulates a virtual desktop environment in one single browser window
        by allowing the seamless integration of multiple web applications under the same environment.
      </h4>
      <br>
      <div class="row">
        <div class="col-md-1 col-sm-0"></div>
        <div class="col-md-2 col-sm-12 component-center">
          <img
            src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=duplicated_lines_density"
            class="badges">
          <img src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=ncloc"
            class="badges">
        </div>
        <div class="col-md-2 col-sm-12 component-center">
          <img src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=code_smells"
            class="badges">
          <img
            src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=vulnerabilities"
            class="badges">
        </div>
        <div class="col-md-2 col-sm-12 component-center">
          <img src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=sqale_index"
            class="badges">
          <img src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=sqale_rating"
            class="badges">
        </div>
        <div class="col-md-2 col-sm-12 component-center">
          <img src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=coverage"
            class="badges">
          <img
            src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=reliability_rating"
            class="badges">
        </div>
        <div class="col-md-2 col-sm-12 component-center">
          <img
            src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=security_rating"
            class="badges">
          <img src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=bugs"
            class="badges">
        </div>
        <div class="col-md-1 col-sm-0"></div>
      </div>
    </div>
  </div>
  <!-- END Header image -->
</header>
<!-- END Site header -->

<main>
  <section>
    <div class="container">
      <h4>By integrating your web applications with QLACK WebDesktop you are receiving the following features:</h4>

      <ul class="features">

        <li>
          <div class="icon">
            <i class="fa fa-bars"></i>
          </div>
          <h5>Application Menu</h5>
          <p>All the integrated applications are displayed under a compact pop-up menu as tiles, defined by their title
            and icon and can be categorized based on their defined usability (system management, communication, etc.).
          </p>
        </li>

        <li>
          <div class="icon">
            <img src="assets\fonts\window.svg" alt="globe img" class="features-section-img" />
          </div>
          <h5>Application Windows</h5>
          <p>Clicking on the tile of one application will lead to opening an iframe window which will display the front
            page of the web application and will provide you with the ability to use it exactly the same way you would
            do on a separate browser window.</p>
        </li>

        <li>
          <div class="icon">
            <i class="fa fa-code"></i>
          </div>
          <h5>Configurable Features</h5>
          <p>Each application window can support, based on the initial configuration, every common desktop application
            feature, i.e.
            resize, minimize,
            maximize, drag, close and having multiple instances at the same time.</p>
        </li>




        <li>
          <div class="icon">
            <i class="fa fa-comments" ></i>
          </div>
          <h5>Μessaging System</h5>
          <p>Qlack WebDesktop can be also used as a messaging broker, which assists the exchange of messages between
            your application with the user of a custom JavaScript/Angular library.
          </p>
        </li>
        
        <li>
          <div class="icon">
            <i class="fa fa-shield"></i>
          </div>
          <h5>Central Authentication</h5>
          <p>QLACK WebDesktop can be integrated with SSO and LDAP providers, in order to handle the authentication
            and authorization steps for the integrated applications, in case these require security levels.
          </p>
        </li>

        <li>
          <div class="icon">
            <i class="fa fa-exchange" ></i>
          </div>
          <h5>Reverse Proxy</h5>
          <p>QLACK WebDesktop also operates as a reverse proxy for each integrated application, providing you ability
            of having your applications running in a hidden and non-accessible servers.
          </p>
        </li>

        <li>
          <div class="icon">
            <img src="assets\fonts\globe.svg" alt="globe img" class="features-section-img" />
          </div>
          <h5>Multilingual</h5>
          <p>The installation comes with a variety of translations in multiple languages, which can be easily edited
            or extended while your application running. Each user can select their preferred language and use it
            throughout all the integrated applications.
          </p>
        </li>

        <li>
          <div class="icon">
            <i class="fa fa-puzzle-piece"></i>
          </div>
          <h5>Easy Integration</h5>
          <p>Applications can be integrated in the system with 3 different ways, providing the option of adding new
            applications or editing existing ones, during the steps of deployment or on-the-fly while your system is
            running in production.
          </p>
        </li>

        <li>
          <div class="icon">
            <i class="fa fa-rocket"></i>
          </div>
          <h5>Quick Deployment</h5>
          <p>QLACK WebDesktop can be set up and deployed in less than 20 minutes, by either making use of the
            embedded Tomcat server or the published Docker images. The installation steps are very easy and can be
            followed by people with little technical knowledge.
          </p>
        </li>
      </ul>

      <div class="buttons-center">
        <a class="btn btn-outline btn-dark" target="_noblank" href="https://github.com/qlack/QLACK-WebDesktop">
          <i class="fa fa-github" aria-hidden="true"></i>
          <span class="button-text">View on GitHub</span>
        </a>
        <a class="btn btn-outline btn-dark">
          <i class="fa fa-maxcdn" aria-hidden="true"></i>
          <span class="button-text">View on Maven</span>
        </a>
        <a class="btn btn-outline btn-dark">
          <img src="assets\fonts\java.svg" alt="triangle with all three sides equal" class="faImgClass" />
          <span class="button-text">View Javadoc</span>
        </a>
      </div>
      <br>
      <br>
      <div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
        <img src="assets/img/wd/wd3.png" />
        <img src="assets/img/wd/wd1.png" />
        <img src="assets/img/wd/wd2.png" />
        <img src="assets/img/wd/wd4.png" />
      </div>
    </div>
  </section>

</main>