---
layout: wrapper
---
<!--  Navigation -->
<nav class="page-navigation full-topbar">
  <ul class="nav">
    <li>
      <a href="#menu0">TITLE</a>
    </li>
  </ul>
</nav>
<!-- END Navigation -->


<!-- Site header -->
<header class="site-header">

  <!-- Logo & Navigation -->
  {% include top-navigation.html activeWebdesktop="active" %}
  <!-- END Logo & Navigation -->
  <!-- Header image -->
  <div class="header-image bg-img-page-webdesktop-header overlay-black overlay-pale">
    <div class="container">
      <h1>
        <strong>WEBDESKTOP</strong>
      </h1>
      <h4>QLACK WebDesktop provides a simulated desktop environment in our browser. If your project
        needs several application windows to be open at once, QLACK WebDesktop allows you to seamlessly
        integrate all of your application under the same environment. Application open in individual
        windows, supporting familiar features such as drag, resize, minimise, maximise, etc.

        QLACK WebDesktop Applications integrating under
      </h4>
      <br>
      <div class="row">
        <div class="col-md-1 col-sm-0"></div>
        <div class="col-md-2 col-sm-12 component-center">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack.webdesktop%3Aqlack-webdesktop&metric=duplicated_lines_density"
              class="badges">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack.webdesktop%3Aqlack-webdesktop&metric=ncloc"
              class="badges">
        </div>
        <div class="col-md-2 col-sm-12 component-center">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack.webdesktop%3Aqlack-webdesktop&metric=code_smells"
              class="badges">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack.webdesktop%3Aqlack-webdesktop&metric=vulnerabilities"
              class="badges">
        </div>
        <div class="col-md-2 col-sm-12 component-center">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack.webdesktop%3Aqlack-webdesktop&metric=sqale_index"
              class="badges">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack.webdesktop%3Aqlack-webdesktop&metric=sqale_rating"
              class="badges">
        </div>
        <div class="col-md-2 col-sm-12 component-center">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack.webdesktop%3Aqlack-webdesktop&metric=coverage"
              class="badges">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack.webdesktop%3Aqlack-webdesktop&metric=reliability_rating"
              class="badges">
        </div>
        <div class="col-md-2 col-sm-12 component-center">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack.webdesktop%3Aqlack-webdesktop&metric=security_rating"
              class="badges">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=com.eurodyn.qlack.webdesktop%3Aqlack-webdesktop&metric=bugs"
              class="badges">
        </div>
        <div class="col-md-1 col-sm-0"></div>
      </div>
    </div>
  </div>
  <!-- END Header image -->
</header>
<!-- END Site header -->

<main>

  <section>
    <div class="container">
      <header class="section-header text-left">
        <h2> WebDesktop </h2>
      </header>
      <ul class="faq-items">
        <li>
          <h4 id="menu0">
            TITLE </h4>
          <p>
            DESCRIPTION
          </p>
        </li>
      </ul>
    </div>
  </section>


</main>