---
layout: wrapper
---
<!-- Site header -->
<header class="site-header">

  <!-- Logo & Navigation -->
  {% include top-navigation.html activeWebdesktop="active" %}
  <!-- END Logo & Navigation -->
  <!-- Header image -->
  <div class="header-image bg-img-page-webdesktop-header overlay-black overlay-pale">
    <div class="container">
      <h1>
        <strong>WEBDESKTOP</strong>
      </h1>
      <h4>QLACK WebDesktop provides a virtual desktop environment in your browser. If your project
        needs several application windows to be open at once, QLACK WebDesktop allows you to seamlessly
        integrate all of your application under the same environment. Application open in individual
        windows, supporting familiar features such as drag, resize, minimise, maximise, etc.
      </h4>
      <br>
      <div class="row">
        <div class="col-md-1 col-sm-0"></div>
        <div class="col-md-2 col-sm-12 component-center">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=duplicated_lines_density"
              class="badges">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=ncloc"
              class="badges">
        </div>
        <div class="col-md-2 col-sm-12 component-center">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=code_smells"
              class="badges">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=vulnerabilities"
              class="badges">
        </div>
        <div class="col-md-2 col-sm-12 component-center">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=sqale_index"
              class="badges">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=sqale_rating"
              class="badges">
        </div>
        <div class="col-md-2 col-sm-12 component-center">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=coverage"
              class="badges">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=reliability_rating"
              class="badges">
        </div>
        <div class="col-md-2 col-sm-12 component-center">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=security_rating"
              class="badges">
          <img
              src="https://sonarcloud.io/api/project_badges/measure?project=qlack_QLACK-WebDesktop&metric=bugs"
              class="badges">
        </div>
        <div class="col-md-1 col-sm-0"></div>
      </div>
    </div>
  </div>
  <!-- END Header image -->
</header>
<!-- END Site header -->

<main>



  <section>
    <div class="container">

      <ul class="features">
        <li>
          <div class="icon"><i class="fa fa-mobile"></i></div>
          <h5>Responsive</h5>
          <p>Donec efficitur mi a velit tincidunt, sit amet accumsan nibh congue. Aliquam convallis molestie ligula.</p>
        </li>
      
        <li>
          <div class="icon"><i class="fa fa-cog"></i></div>
          <h5>Customizable</h5>
          <p>Donec efficitur mi a velit tincidunt, sit amet accumsan nibh congue. Aliquam convallis molestie ligula.</p>
        </li>
      
        <li>
          <div class="icon"><i class="fa fa-code"></i></div>
          <h5>Full of features</h5>
          <p>Donec efficitur mi a velit tincidunt, sit amet accumsan nibh congue. Aliquam convallis molestie ligula.</p>
        </li>
      </ul>


      <a class="btn btn-dark" target="_noblank"
         href="https://github.com/qlack/QLACK-WebDesktop">
        <span class="button-text">View on GitHub</span>
      </a>
      <a class="btn  btn-dark"
         >
        <span class="button-text">View on Maven</span>
      </a>
      <a class="btn btn-dark"
         >
        <span class="button-text">View Javadoc</span>
      </a>
      <br><br>
      <div class="carousel"
           data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
        <img src="assets/img/wd/wd3.png"  />
        <img src="assets/img/wd/wd1.png"  />
        <img src="assets/img/wd/wd2.png"  />
        <img src="assets/img/wd/wd4.png"  />
      </div>

    </div>
  </section>

</main>